/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --title-clr: #db00ff;
  --text-main: #ff0070;
  --text-minor: #f1b2ce;
  --text-dflt: #000028;
  --bg-main: #000028;
  --bg-minor: #ff0070;
  --shadow-main: #ff0070;
  --bg-image: url("../images/cover-image-dark.png");
  --hover-color: rgba(255, 0, 112, 0.4);
  --font: "IBM Plex Mono", monospace, serif;
  --text-size: 18px;
  --title-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --text-weight-normal: 400;
  --text-weight-bold: 700;
  --border-color: #ff0070;
  --border-color-hover: #ff007066;
}

@media (width >= 768px) {
  :root {
    --title-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}
